<div class="col-12" id="display-image">
  <div class="col-12" style="font-size: 33px">{{title}}</div>
  <div class="col-12">
    <img src="http://localhost:8080/upload/static/images/{{name}}" class="rounded img-fluid"/>
  </div>
  <div class="col-12 row" style="padding: 10px">
    <div class="col-8" style="font-size: 25px">
      <p>Przykładowy autor</p>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-secondary pull-right"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{score}}</button>
    </div>
  </div>
</div>
